/* added smooth scroll behaviour */
* {
  scroll-behavior: smooth;
  font-family: "Inter", "segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

body {
  position: relative;
  background: #f5f5f5;
  color: #111;
  display: flex;
}
main {
  width: 82%;
  max-height: 100vh;
  overflow-y: auto;
}
aside {
  position: fixed;
  right: 0;
  top: 0;
  width: 19%;
  background: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ddd;
}
header {
  background-color: #101828;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  background: rgba(218, 165, 32, 0.037);
  padding: 10px;
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  min-height: fit-content;
}

nav h1 {
  width: 20%;
}
.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  /* gap: 30px; */
  margin-right: 10rem;
}
.nav-links li:hover a {
  color: rgb(28, 26, 23);
  letter-spacing: 5px;
  transform: scaleX(1.1);
  transition: all 0.3s ease-in-out;
}
.nav-links li a {
  color: white;
}
.closemenu-btn,
.menu-btn {
  padding: 0 10px;
  background: none;
  color: rgb(166, 161, 184);
  border: none; 
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.carousel {
  position: relative;
  width: 90%;
  margin: 20px auto;
  height: 600px;
  overflow: hidden;
}
.inner-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s;
}
.carousel-card {
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.carousel-card img {
  display: block;
  height: 100%;
  width: 50%;
  object-fit: cover;
}
/* card details */
.card-details {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-details h3 {
  font-size: 25px;
}
.card-details ul {
  margin: 0 auto;
}
.card-details ul li {
  list-style: disc;
  font-size: 20px;
  margin: 10px 0;
}
.card2 {
  height: 100%;
}

.carousel-card.active {
  display: block;
}

.inner-carousel {
  width: 500%;
  animation: slide 20s infinite;
}
@keyframes slide {
  0%,
  10% {
    transform: translateX(0);
  }
  20%,
  30% {
    transform: translateX(-20%);
  }
  40%,
  50% {
    transform: translateX(-40%);
  }
  60%,
  70% {
    transform: translateX(-60%);
  }
  80%,
  100% {
    transform: translateX(-80%);
  }
}
/* manual slide */
.carousel:hover .inner-carousel {
  animation-play-state: paused;
}
.carousel {
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  /* Optional: for all browsers */
  scrollbar-width: none; /* Firefox */
}
.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.carousel-card {
  scroll-snap-align: center;
}

.hero-text button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.hero-text p {
  margin: 10px 0;
}

/* product section */
.products {
  background: rgb(176, 175, 175);
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}
.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  height: 500px;
  padding: 10px;
  border-radius: 20px;
  background: #ebeaea;
  box-shadow: 10px 10px 9px #929191, -10px -10px 9px #ffffff;
}
.product img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(165, 42, 165);
  border-radius: 15px;
}
.product h2{
  text-align: left;
  font-size: 24px;
  color: #333;
  margin: 10px auto;
}
.product p {
  font-size: 18px;
  color: #555;
  margin: 10px auto;
  text-align: left;
  font-weight: 900;
}

.product button {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
.product button:hover{
  background-color: rgb(240, 239, 239);
  color: #004080;
  border: 1px solid #004080;
  cursor: pointer;
  transform: scaleX(1.05);
}



.cart {
  width: 25%;
  background-color: white;
  margin: 2px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5opx rgba(0, 0, 0, 0.1);
}
.contact {
  background-color: #e5e7eb;
  padding: 40px 20px;
  text-align: center;
}
.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.contact button {
  background: #10b981;
  color: white;
  border: none;
  padding: 12px;
  cursor: point;
}
.contact button:hover {
  background: #7e8f8a;
}
.footer {
  background: #1d4ed8;
  color: white;
  text-align: center;
  padding: 15px;
}
@media (max-width: 950px) {
  main {
    width: 100%;
  }
  aside {
    right: 0;
    top: 0;
    width: fit-content;
    transform: translateX(100%);
  }

  nav {
    position: relative;
    align-items: center;
  }
  nav h1 {
    width: 50%;
  }
  #nav-links {
    position: absolute;
    right: -10px;
    top: 10px;
  }

  .nav-links {
    position: relative;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
    background: rgba(255, 217, 0, 0.26);
    padding: 40px 50px;
    border-radius: 15px;
    border: 2px solid rgb(179, 177, 162);
    box-shadow: 2px 5px 5px rgb(229, 185, 199);
    padding-top: 3rem;
    backdrop-filter: blur(200px);

    display: none;
  }
  .nav-links li {
    border-bottom: 2px solid goldenrod;
  }
  .nav-links li:hover a {
    letter-spacing: 3px;
    transform: scaleX(1);
  }
  .nav-links li a {
    font-size: 30px;
  }
  .closemenu-btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .menu-btn {
    display: block;
  }

  .product-grid {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
  aside {
    right: 0;
    top: 0;
    width: fit-content;
    transform: translateX(100%);
  }

  nav {
    position: relative;
    align-items: center;
  }
  nav h1 {
    width: 50%;
  }
  #nav-links {
    position: absolute;
    right: -10px;
    top: 10px;
  }

  .nav-links {
    position: relative;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    background: rgba(255, 217, 0, 0.311);
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid rgb(135, 130, 101);
    padding-top: 3rem;
    backdrop-filter: blur(10px);
    display: none;
  }
  .nav-links li {
    border-bottom: 2px solid rgb(101, 96, 84);
  }
  .nav-links li:hover a {
    letter-spacing: 3px;
    transform: scaleX(1);
  }
  .closemenu-btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .menu-btn {
    display: block;
  }

  .carousel {
    width: 100%;
    margin: 0px auto;
    height: 450px;
  }
  .inner-carousel {
    position: absolute;
    width: 100%;
  }
  .carousel-card {
    position: relative;
    width: 100vw;
    gap: 1.5rem;
  }
  .carousel-card img {
    width: 100%;
  }
  /* card details */
  .card-details {
    position: absolute;
    background: rgba(218, 165, 32, 0.518);
    height: 100%;
    width: 100%;
    gap: 1rem;
  }
  .inner-carousel {
    width: 500%;
    animation: slide 20s infinite;
  }
  @keyframes slide {
    0%,
    10% {
      transform: translateX(0);
    }
    20%,
    30% {
      transform: translateX(-20%);
    }
    40%,
    50% {
      transform: translateX(-40%);
    }
    60%,
    70% {
      transform: translateX(-60%);
    }
    80%,
    100% {
      transform: translateX(-80%);
    }
  }

  .product-grid {
  grid-template-columns: repeat(1, 1fr);
}

}
